/* Background pattern from Toptal Subtle Patterns */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 100vh;
    background-image: url("diagonal-squares.png")
}

.outerForm{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #131216;
    border-radius: 3%;
    width: 400px;
    height: 250px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.partForm{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-weight: bold;     
}

.inputForm{
    
    border: 0;
    margin: 5px; 
    border: 3px #131216 solid;
    outline: none;

    
}

.inputText{
    padding: 6px;
}

.inputForm:focus{
    border: 3px #3a3b3a solid;   
    
}

.inputSubmit{
    padding: 10px;
    background-color: #3a3b3a;
    text-transform: uppercase;

}

.inputSubmit:hover,.inputSubmit:focus  {
    background-color: #2c2c2c;
    color: beige;
    cursor: pointer;
    
}

